@layout("/common/_container.html"){
<form data-url="${ctxPath}/makenotice/save" method="get" class="form-horizontal" role="form">
	<input type="hidden" name="item_id" value="${item_id}"/>
	<div class="space-4"></div>
		<!-- #section:elements.form -->
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" > 借款人 </label>

			<div class="col-sm-3">
				<input type="text" name="borrower" style="width: 498px;"  placeholder="请输入借款人" class="form-control" />
			</div>
			
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" > 融资平台 </label>
			<div class="col-sm-3" style="margin-Top:7px">	
				<input type="radio" name="platform"  value="抱财"/>&nbsp;&nbsp;抱财&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="platform"  value="抱金"/>&nbsp;&nbsp;抱金
			</div>
			
			<label class="col-sm-2 control-label no-padding-right" > 合同号</label>

			<div class="col-sm-3">
				 <input type="text"  name="contract_number" class="form-control"  value="" placeholder="请输入合同号"  />
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" > 借款金额 (元)</label>

			<div class="col-sm-3">
				<input type="text" id="" name="borrow_amount"  placeholder="请输入借款金额" class="form-control" />
			</div>
			
			<label class="col-sm-2 control-label no-padding-right" > 借款期限(月) </label>
			<div class="col-sm-3">
				<input type="text"  name="borrow_date"   placeholder="请输入借款期限" class="form-control"/>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" > 放款时间 </label>
			<div class="col-sm-3">
				<input type="text" name="make_time" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"  placeholder="请输入放款时间" class="form-control" />
			</div>
			
			<label class="col-sm-2 control-label no-padding-right" > 综合利率(%)</label>

			<div class="col-sm-3">
				<input type="text" name="interest_rates"  placeholder="请输入综合利率" class="form-control" />
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" > 借款利率(%) </label>

			<div class="col-sm-3">
				<input type="text"   name="borrow_rates" value="" placeholder="请输入借款利率" class="form-control" />
			</div>
			
			<label class="col-sm-2 control-label no-padding-right" > 融资利率(%) </label>
			<div class="col-sm-3">
				<input type="text" name="plat_rates"  placeholder="请输入融资利率" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" > 借款用途 </label>

			<div class="col-sm-3">
			<textarea rows="" cols="" name="borrow_use" style="height: 60px;width: 498px;" placeholder="请输入借款用途" class="form-control"></textarea>
			</div>
			
			
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" > 还款来源 </label>

			<div class="col-sm-3">
				<textarea rows="" cols="" name="payments_source" style="height: 60px;width: 498px;" placeholder="请输入还款来源" class="form-control"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" > 联系人 </label>

			<div class="col-sm-3">
				<input type="text"   name="contact"  placeholder="请输入联系人" class="form-control" />
			</div>
			
			<label class="col-sm-2 control-label no-padding-right" > 联系电话 </label>
			<div class="col-sm-3">
				<input type="text" name="phone"  placeholder="请输入联系电话" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" > 备注 </label>

			<div class="col-sm-3">
				<textarea rows="" cols="" name="remark" style="height: 60px;width: 498px;" placeholder="请输入备注" class="form-control"></textarea>
			</div>
		</div>
		
	
		<script src="${ctxPath}/static/laydate/laydate.js"></script>	
		<script type="text/javascript">
			
		</script>	
		
		<div class="space-4"></div>
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html",{btn_save:"保存",btn_close:"取消"}) {}
</form>
										
@}